[submodule "submodules/github.com/bytecodealliance/wasm-tools"]
	path = submodules/github.com/bytecodealliance/wasm-tools
	url = git@github.com:bytecodealliance/wasm-tools.git
[submodule "submodules/github.com/WebAssembly/testsuite"]
	path = submodules/github.com/WebAssembly/testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "submodules/github.com/WebAssembly/component-model"]
	path = submodules/github.com/WebAssembly/component-model
	url = https://github.com/WebAssembly/component-model
